@model Website.Models.ServiceModel

@Html.HiddenFor(m => m.Id, new {id = "serviceId"})

<div class="hidden-xs">
    @Html.Raw(Model.DesktopTitle)

    @Html.Raw(Model.DesktopContent)
</div>


<div class="visible-xs">
    @Html.Raw(Model.MobileTitle)

    @Html.Raw(Model.MobileContent)
</div>