@using System.Collections.Specialized
@using Website.Infrastructure;
@using Website.Extensions;


<div id="sidebar-main">
    <div class="pull-right">
        <ul class="unstyled-list spaced-list">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <span data-toggle="collapse" data-target="#refrigeList" class="collapsed collapse-toggle">Refrigeration Training </span>
                <ul class="unstyled-list collapse collapseList pad-0" id="refrigeList">
                    @foreach (Refrigeration course in Enum.GetValues(typeof (Refrigeration)))
                    {
                        <li>
                            <a href="@Url.Action("Course", "Training", new {typeId = (int) TrainingType.Refrigeration, courseId = (int) course})">@EnumExtensions.GetDisplayName(course)</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <span data-toggle="collapse" data-target="#hvacList" class="collapsed collapse-toggle">HVAC Training </span>
                <ul class="unstyled-list collapse collapseList pad-0" id="hvacList">
                    @foreach (HVAC course in Enum.GetValues(typeof (HVAC)))
                    {
                        <li>
                            <a href="@Url.Action("Course", "Training", new {typeId = (int) TrainingType.HVAC, courseId = (int) course})">@EnumExtensions.GetDisplayName(course)</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <span data-toggle="collapse" data-target="#fgasList" class="collapsed collapse-toggle">F Gas Training </span>
                <ul class="unstyled-list collapse collapseList pad-0" id="fgasList">
                    @foreach (FGas course in Enum.GetValues(typeof (FGas)))
                    {
                        <li>
                            <a href="@Url.Action("Course", "Training", new {typeId = (int) TrainingType.FGas, courseId = (int) course})">@EnumExtensions.GetDisplayName(course)</a>
                        </li>
                    }
                </ul>
            </li>
            @foreach (Service course in Enum.GetValues(typeof(Service)))
            {
                <li>
                    <a href="@Url.Action("Service", "Training", new {id = (int)course})">@EnumExtensions.GetDisplayName(course)</a>
                </li>
            }
            <li>
                <a href="@Url.Action("About", "Home")">About Us</a>
            </li>
        </ul>
    </div>
</div>
