<!DOCTYPE html>
<html>
<head>
    <title>ECAC Training</title>
    @Html.Action("Header", "Common")
</head>
    <body>

        <div id="wrapper">
    
            @Html.Action("Navbar", "Common")
            <div class="content">
                @Html.Action("Sidebar", "Common")
                <div id="main">
                    @RenderBody()
                </div>
            </div>
            <div class="push"></div>
        </div>
        <div id="footer">
            <div id="footer-content">
                @Html.Action("Footer", "Common")
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/site")
        @RenderSection("scripts", required: false)
    </body>
</html>
