<!DOCTYPE html>
<html>
<head>
@Html.Action("Header", "Common")
</head>
<body>

<div id="wrapper">
    
    @Html.Action("Navbar", "Common")
    <div class="content">
        <div id="sidebar">
            @Html.Action("Sidebar", "Common")
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div class="push"></div>
</div>
<div id="footer">
    <div id="footer-content">
        @Html.Action("Footer", "Common")
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
