<!DOCTYPE html>
<html>
<head>
@Html.Action("Header", "Common")

</head>
<body>
    <div class="navbar navbar-fixed-top">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="nav-home"><img src="~/Content/Images/header-logo.svg" class="header-logo" /></a>
            </div>
    </div>
    <div class="sidebar-wrapper">
        @Html.Action("Sidebar", "Common")
    </div>
    <div class="body-content body-wrapper">
            @RenderBody()
        <hr />
        @Html.Action("Footer", "Common")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
